video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

video::-webkit-media-controls {
  display:none !important;
}

.form-select {
    width: 40%;
}

.video {
    width: 84vw;
    height: 18vw;
    margin: 1em;
    background: transparent;
    border: 2px solid grey;
    border-radius: 7px;
}

body {
    height: 100vh;
}

.custom-btn-1 {
    width: 3.5vw;
    height: 3.5vw;
    font-size: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #cccccc;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.custom-btn-1:hover {
    background: #b3b3b3;
}

.overlay-control {
    position: fixed;
    z-index: 11;
    bottom: 2em;
    margin: 0 auto;
    width: 50vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.overlay-chat {
    width: 28vw;
    height: 41vw;
    z-index: 12;
    position: fixed;
    right: 1em;
    bottom: 2em;
    -webkit-box-shadow: -0.5px 0.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -0.5px 0.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -0.5px 0.5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    background: #f1f1f1;
    overflow: hidden;
}

.messages {
    width: 100%;
    height: 90%;
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
}

.custom-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    background: #f1f1f1;
    border-radius: 50px;
}

.custom-input > input {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #bbbbbb;
    padding-left: 1em;
    padding-right: 2em;
    background: #f1f1f1;
    outline:none;
}

.custom-input > svg {
    position: absolute;
    color: #bbbbbb;
    right: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.custom-input > svg:hover {
    opacity: 0.5;
}

.screen-share-block {
    width: 43vw;
    height: 24vw;
    background: transparent;
    margin-top: 1em;
    border: 2px solid grey;
    border-radius: 7px;
}

.overlay-dashboard {
    width: 90%;
    height: 90%;
    background: white;
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    display: none;
}

.overlay-content-view {
    width: 90%;
    height: 90%;
    background: white;
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    box-shadow: -9px 10px 32px -11px rgba(0,0,0,0.75);
    display: none;
}

.micro > svg:nth-child(2),
 {
    display: none;
}

.own-message {
    width: auto;
    background: #fff7dc;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-end;
}

.own-message > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.own-message > span:nth-child(2) {
    width: auto;
}

.guest-to-guest-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.guest-to-guest-message > div {
    display: flex;
    flex-direction: column;
}

.guest-to-guest-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.guest-to-guest-message > div > span:nth-child(2) {
    width: auto;
}

.owner-to-guest-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.owner-to-guest-message > div {
    display: flex;
    flex-direction: column;
}

.owner-to-guest-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: red;
}

.owner-to-guest-message > div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.owner-to-guest-message > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.owner-to-all-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.owner-to-all-message > div {
    display: flex;
    flex-direction: column;
}

.owner-to-all-message > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: red;
}

.owner-to-all-message > span:nth-child(2) {
    width: auto;
}

.guest-to-all-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.guest-to-all-message > div {
    display: flex;
    flex-direction: column;
}

.guest-to-all-message > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
}

.guest-to-all-message > span:nth-child(2) {
    width: auto;
}

.guest-to-all-message > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.from-me-to-guest-message {
    width: auto;
    background: #fff7dc;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-end;
}

.from-me-to-guest-message > div {
    display: flex;
    flex-direction: column;
}

.from-me-to-guest-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.from-me-to-guest-message > div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.from-me-to-guest-message > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.from-me-to-owner-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.from-me-to-owner-message > div {
    display: flex;
    flex-direction: column;
}

.from-me-to-owner-message > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.from-me-to-owner-message > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: red;
}

.from, .to {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.guest-to-me-owner-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.guest-to-me-owner-message > div {
    display: flex;
    flex-direction: column;
}

.guest-to-me-owner-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.guest-to-me-owner-message> div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.guest-to-me-owner-message> div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.me-owner-to-guest-message {
    width: auto;
    background: #fff7dc;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-end;
}

.me-owner-to-guest-message > div {
    display: flex;
    flex-direction: column;
}

.me-owner-to-guest-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.me-owner-to-guest-message > div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.me-owner-to-guest-message > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.guest-to-guest-message-owner {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.guest-to-guest-message-owner > div {
    display: flex;
    flex-direction: column;
}

.guest-to-guest-message-owner > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.guest-to-guest-message-owner > div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.guest-to-guest-message-owner > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.guest-to-me-message {
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.guest-to-me-message > div {
    display: flex;
    flex-direction: column;
}

.guest-to-me-message > div > span:nth-child(1) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: black;
}

.guest-to-me-message > div > span:nth-child(2) {
    font-size: 0.7em;
    font-weight: 700;
    width: auto;
    color: green;
}

.guest-to-me-message > div > span > span {
    color: #cccccc;
    font-weight: 400;
    margin-right: 0.5em;
}

.settings-block {
    display: flex;
    flex-direction: column;
}

.modal-body-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video-test {
    height: 8vw;
    width: 14vw;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 2em;
}

.form-group {
    margin-top: 2em;
    margin-left: 1em;
}

.input-text {
    width: 8vw;
}

.form-control-range {
    width: 34vw;
}

.apply-resolution {
    width: 13vw;
    margin-top: 2em;
}

@media screen and (max-width:720px) {
    .overlay-control {
        width: 93vw !important;
    }

    .screen-share-block {
        width: 100%;
    }

    .overlay-chat {
        width: 85vw;
        height: 130vw;
        bottom: 7em;
    }

    .video {
        width: 35vw;
        height: 35vw;
    }

    .screen-share-block {
        width: 84vw;
        height: 47vw;
    }

    .custom-btn-1 {
        width: 12vw;
        height: 12vw;
        font-size: 5.5vw;
    }
}
